<html>
<head>
<title>Movie Ticket Booking System - Main Page</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
	<div id="header" class="header">
		<img class="header-logo" src="image/smallLogo.png">
		<div class="button-container">
			<a href="#" class="button login">Login</a> 
			<a href="movieSeat.jsp" class="button signup">Register</a>
		</div>
	</div>
	<br>
	<h1 class="main-page-title" align="center">Now Showing</h1>
	<br>
	<div class="movie-container">
		<div class="movie-row">
			<div class="movie">
				<img class="movie-image" src="image/image 1.png" />
				<p>Placeholder Text</p>
			</div>
			<div class="movie">
				<img class="movie-image" src="image/image 2.png" />
				<p>Placeholder Text</p>
			</div>
		</div>
		
		<div class="movie-row">
			<div class="movie">
				<img class="movie-image" src="image/image 3.png" />
				<p>Placeholder Text</p>
			</div>
			<div class="movie">
				<img class="movie-image" src="image/image 4.png" />
				<p>Placeholder Text</p>
			</div>
		</div>
		
		<div class="movie-row">
			<div class="movie">
				<img class="movie-image" src="image/image 5.png" />
				<p>Placeholder Text</p>
			</div>
			<div class="movie">
				<img class="movie-image" src="image/image 6.png" />
				<p>Placeholder Text</p>
			</div>
		</div>
	</div>
</body>
</html>

